<div class="toolbar" role="banner">
  <img
    width="40"
    src="../assets/lasseryLogo.png"
  />
  <span style="padding-left: 0.5%">Lassery</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <h2>Send your message</h2>

  <div class="container" style="width:600px">
    <app-file-upload></app-file-upload>
  </div>

  <div>
  <app-file-fetch></app-file-fetch>
  </div>

  <div class="container">
    <app-check-status></app-check-status>
  </div>

  <footer>
    Footer
  </footer>
</div>
