.btn{
  background-color: #0d8b96;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: snow;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  min-height: 2rem;
  transition: all 250ms;
  vertical-align: baseline;
  width: auto;
  margin: 0 auto;
}
.btn:hover{
  background-color: springgreen ;
  color: #1F3333;
}
.btn:active{
  border-color: rgba(0, 0, 0, 0.15);

  color: rgba(0, 0, 0, 0.65);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(1px);
}

.current-status{
  text-align: center;
  margin-top: 2rem;
}
//.no-file{
//  border-radius: 10px;
//  background: darkslategray;
//  width: 20rem;
//  text-align: center;
//  margin-top: 2rem;
//  height: 10rem;
//}

.table_section{
  #id-table{
    width: 100%;
    box-shadow:  #1F3333;
    //transition: 0.5s;

    min-height: 5rem;
    *{
      text-align: center;
    }

    tr:nth-child(odd) {
      background: darkslategray;
    }
  }
}

